extends ./includes/layout

block content
	.row
		form.large-12.column(action='/scrapper' method='post')
			fieldset
				.row.collapse
					.small-10.columns
						input(type='text' name='url' placeholder='URL to scrape')
					.small-2.columns
						button.button.postfix Go